.carousel-item {
  padding: 25px 40px;
}

#carouselExampleControls {
  background-color: #feeae9;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.buy-now-btn {
  background-image: linear-gradient(to bottom, #ff237a, #fe5397);
  padding: 5px 15px;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
}

.buy-now-btn:focus {
  outline: none;
}

.carousel-item h1:last-child {
  color: #fe5397;
}
.single-cat {
  padding: 10px 5px 10px 25px;
  border-radius: 9px;
}
.single-cat img {
  width: 130px;
}
.single-cat h1 {
  color: #fff;
}

.cat-item1 {
  background-image: linear-gradient(45deg, #ff9e33, #fed01a);
}

.cat-item2 {
  background-image: linear-gradient(45deg, #ff5297, #ff1f77);
}

.cat-item3 {
  background-image: linear-gradient(45deg, #4289ff, #3e07f8);
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
.subscription div.align-items-center {
  background: #feeae9;
  margin: 4px;
}
.subscription div.align-items-center div button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.subscription div.align-items-center div h1 {
font-size: 18px;
color: #363434
}
.container div h2 {
  color: #777702;
  font-size: 16px;

}
.card {
  transition: .5s;
}
.card:hover {
  transform: translateY(25px );
}
.cat-title {
  font-size: 16px;
  color: #777702;
  padding-top: 20px;
}
.single-cat {
  transition: .5s;
  cursor: pointer;
}
.single-cat:hover {
  transform: scale(1.1);
}

@media (max-width: 766px) {
  .col-sm-12 {
    padding-bottom: 5px;
  }
  .carousel-item div.align-items-center {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
  }
  .carousel-item div.align-items-center h1 {
    margin-bottom: 10px 0;
    text-align: center;
  }
  .buy-now-btn {
    display: block;
    margin: 0 auto;
  }
}

html {
  scroll-behavior: smooth;
}